pkgbase = cliamp
	pkgdesc = Retro terminal music player with Spotify, YouTube, Navidrome, and Plex support
	pkgver = 1.27.1+main
	pkgrel = 1
	url = https://github.com/nicholas-fedor/cliamp
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go>=1.26.1
	makedepends = git
	makedepends = gcc
	depends = alsa-lib
	depends = flac
	depends = libvorbis
	depends = libogg
	optdepends = ffmpeg: support for aac, opus, and wma audio formats
	optdepends = yt-dlp: YouTube, SoundCloud, Bandcamp, and Bilibili playback
	optdepends = pipewire-alsa: audio output on PipeWire systems
	optdepends = pulseaudio-alsa: audio output on PulseAudio systems
	source = cliamp-1.27.1+main.tar.gz::https://github.com/nicholas-fedor/cliamp/archive/refs/heads/main.tar.gz
	sha256sums = SKIP

pkgname = cliamp
